* {
  padding: 0%;
  margin: 0%;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
}

.center {
  width: 50%;
  height: 70vh;
  background-color: gray;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

form {
  width: 70%;
  height: 80vh;
}

.first input {
  width: 100%;
  height: 6vh;
  outline: none;
  background-color: inherit;
  border: 1px solid black;
  border-radius: 10px;
}

.first button {
  width: 100%;
  height: 7vh;
  background-color: black;
  color: white;
  border-radius: 10px;
  border: none;
  padding: 0px 5px;
}

.below {
  width: 15vw;
  height: 5vh;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 20vw;
}
